.carousel-container{
    width: 100%;
    z-index: 0;
}
.Carousel.Item img{
    
    max-width: 100%;
    min-height: 100%;
}
.cover-Container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);   
    display: flex;
    flex-direction: column;
}
.cover-Container p{
    font-family: 'Nova Round', cursive;
    color: white;
    border: 1px white;
}
.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}



